; Copyright 2024 Nubank NA
; Copyright 2022 Cognitect, Inc.

; The use and distribution terms for this software are covered by the
; Eclipse Public License 1.0 (http://opensource.org/licenses/eclipse-1.0)
; which can be found in the file epl-v10.html at the root of this distribution.
;
; By using this software in any fashion, you are agreeing to be bound by
; the terms of this license.
;
; You must not remove this notice, or any other, from this software.

{:paths ["src"
         "java"
         "target/classes"]
 :deps  {org.clojure/clojure              {:mvn/version "1.12.0"}
         io.pedestal/pedestal.log         {:mvn/version "0.8.0-alpha-2"}
         io.pedestal/pedestal.telemetry   {:mvn/version "0.8.0-alpha-2"}
         io.pedestal/pedestal.interceptor {:mvn/version "0.8.0-alpha-2"}
         io.pedestal/pedestal.route       {:mvn/version "0.8.0-alpha-2"}
         io.pedestal/pedestal.service     {:mvn/version "0.8.0-alpha-2"}

         org.clojure/core.async           {:mvn/version "1.7.701"}

         ;; Ring 1.11 is the first version to support Servlet API 4.0
         ring/ring-core                   {:mvn/version "1.14.1"}
         cheshire/cheshire                {:mvn/version "5.13.0"}
         org.clojure/tools.reader         {:mvn/version "1.5.2"}
         com.cognitect/transit-clj        {:mvn/version "1.0.333"}
         commons-codec/commons-codec      {:mvn/version "1.18.0"}
         crypto-random/crypto-random      {:mvn/version "1.2.1"
                                           :exclusions  [commons-code/commons-codec]}
         crypto-equality/crypto-equality  {:mvn/version "1.0.1"}}

 ;; Requires `clj -X:deps prep`  when downloaded as a git checkout (if via Maven repo, the class will
 ;; already be compiled into the artifact).
 ;; Note: compile-java adds the :servlet-api alias to the classpath during compilation.
 :deps/prep-lib
 {:ensure "target/classes"
  :alias  :build
  :fn     compile-java}

 :io.pedestal/build
 {:compile-command ["clojure" "-T:build" "compile-java"]}

 :aliases
 {:local
  {:override-deps {io.pedestal/pedestal.log         {:local/root "../log"}
                   io.pedestal/pedestal.common      {:local/root "../common"}
                   io.pedestal/pedestal.telemetry   {:local/root "../telemetry"}
                   io.pedestal/pedestal.interceptor {:local/root "../interceptor"}
                   io.pedestal/pedestal.route       {:local/root "../route"}
                   io.pedestal/pedestal.service     {:local/root "../service"}}}
  ;; Normally javax.servlet-api comes from the runtime container (e.g., Jetty) but we need it here
  ;; to compile our servlet and other classes.
  ;; When developing with Cursive you should enable the servlet-api alias in the Clojure Deps tool.
  :servlet-api
  {:extra-deps {jakarta.servlet/jakarta.servlet-api            {:mvn/version "6.1.0"}
                jakarta.websocket/jakarta.websocket-client-api {:mvn/version "2.2.0"}
                jakarta.websocket/jakarta.websocket-api        {:mvn/version "2.2.0"}}}
  ;; clj -T:build <command>
  :build {:deps       {io.github.hlship/build-tools {:git/tag "0.11.0" :git/sha "8c67d11"}}
          :ns-default build}}}
