# Java related
pom.xml
pom.xml.asc
*jar
*.class
out/

# Leiningen
classes/
lib/
native/
checkouts/
target/
.lein-deps-sum
.lein-failures
.lein-repl-history
.lein-cljsbuild-repl
.lein-plugins/
repl-port
.nrepl-port

# Temp Files
tmp/
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak
.clj-kondo/*
**/.clj-kondo/.cache
!.clj-kondo/config.edn
.cpcache/

# Editors (IntelliJ / Eclipse)
.idea/
*.iml
*/.classpath
*/.project
*/.settings

# OS X
.DS_Store

# Logging
*.log
logs/

# Docs
autodoc/
codox
