; Copyright 2022 Cognitect, Inc.

; The use and distribution terms for this software are covered by the
; Eclipse Public License 1.0 (http://opensource.org/licenses/eclipse-1.0)
; which can be found in the file epl-v10.html at the root of this distribution.
;
; By using this software in any fashion, you are agreeing to be bound by
; the terms of this license.
;
; You must not remove this notice, or any other, from this software.

{:aliases
 {:build
  {:ns-default build
   :paths ["build"]
   :deps {io.github.hlship/build-tools{:git/tag "0.8" :git/sha "0a0c26a"}
          io.github.hlship/trace {:mvn/version "v1.0"}
          borkdude/rewrite-edn {:mvn/version "0.4.6"}}}

  ;; Duplicated here to allow REPL development of the tools;
  ;; this may actually be a Cursive bug that you can't properly launch
  ;; with the build alias.
  :dev
  {:extra-paths ["build"]
   :extra-deps {io.github.hlship/build-tools{:git/tag "0.8" :git/sha "0a0c26a"}
                io.github.hlship/trace {:mvn/version "v1.0"}
                borkdude/rewrite-edn {:mvn/version "0.4.6"}}}

  :codox
  {:deps {codox/codox {:mvn/version "0.10.8"}}
   :paths ["codox-resources"]}}}
