(ns {{top/ns}}.{{main/ns}}.main
  "Runs the {{name}} service."
  (:require [io.pedestal.connector :as connector]
            [io.pedestal.log :as log]
            [io.pedestal.http.http-kit :as hk]
            [{{top/ns}}.{{main/ns}}.connector :refer [connector-map]]))

(defn- log-startup
  [connector-map]
  (log/info :msg "Service {{name}} startup"
            :port (:port connector-map))
  connector-map)

(defn start-service
  [_]
  (-> (connector-map {:join? true})
      log-startup
      (hk/create-connector nil)
      connector/start!))

