(ns {{top/ns}}.{{main/ns}}.service
  "Defines the service for the {{name}} project."
  (:require [io.pedestal.http :as http]
            [io.pedestal.http.route :refer [routes-from]]
            [io.pedestal.environment :refer [dev-mode?]]
            [{{top/ns}}.{{main/ns}}.routes :as routes]))

(defn service-map
  "Creates a service map for the {{name}} service.

  Options:
    dev-mode: enables dev-interceptors if true, defaults from
    Pedestal's development mode."
  [opts]
  (let [{:keys [dev-mode]
         :or {dev-mode dev-mode?}} opts]
    (-> {::http/port 8080
         ::http/type :jetty
         ::http/routes (routes-from (routes/routes))
         ;; Server classpath resources under the public folder:
         ::http/resource-path "public"
         ::http/join? false}
         http/default-interceptors
         (cond-> dev-mode http/dev-interceptors))))

