{:paths ["src"]
 :deps {org.clojure/core.async {:mvn/version "0.4.474"
                                :exclusions [org.clojure/tools.analyzer.jvm]}

        ;; Error interceptor tooling
        org.clojure/core.match {:mvn/version "0.3.0-alpha5"
                                :exclusions [[org.clojure/clojurescript]
                                             [org.clojure/tools.analyzer.jvm]]}
        org.clojure/tools.analyzer.jvm {:mvn/version "0.7.2"}}
 :aliases {:release {:extra-deps {io.pedestal/pedestal.log {:mvn/version "0.5.5-SNAPSHOT"}}}
           :dev     {:extra-deps {io.pedestal/pedestal.log {:local/root "../log"}}}}}
