; Copyright 2024-2025 Nubank NA
; Copyright 2022 Cognitect, Inc.

; The use and distribution terms for this software are covered by the
; Eclipse Public License 1.0 (http://opensource.org/licenses/eclipse-1.0)
; which can be found in the file epl-v10.html at the root of this distribution.
;
; By using this software in any fashion, you are agreeing to be bound by
; the terms of this license.
;
; You must not remove this notice, or any other, from this software.

{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/core.async {:mvn/version "1.6.681"}
       org.clj-commons/pretty {:mvn/version "3.3.1"}
        io.pedestal/pedestal.log {:mvn/version "0.8.0-SNAPSHOT"}
        io.pedestal/pedestal.common {:mvn/version "0.8.0-SNAPSHOT"}}
 :aliases
 {:local
  {:override-deps {io.pedestal/pedestal.log    {:local/root "../log"}
                   io.pedestal/pedestal.common {:local/root "../common"}}}}}
