{:paths   ["src"]
 :deps    {io.pedestal/pedestal.jetty {:mvn/version "0.8.1"} ;; <1>
           org.slf4j/slf4j-simple     {:mvn/version "2.0.17"}}
 :aliases {:run {:main-opts ["-m" "hello-ssl"]
                 :exec-fn hello-ssl/start}}}
