; Copyright 2024-2025 Nubank NA
; Copyright 2022 Cognitect, Inc.

; The use and distribution terms for this software are covered by the
; Eclipse Public License 1.0 (http://opensource.org/licenses/eclipse-1.0)
; which can be found in the file epl-v10.html at the root of this distribution.
;
; By using this software in any fashion, you are agreeing to be bound by
; the terms of this license.
;
; You must not remove this notice, or any other, from this software.

{:paths ["src"]
 :deps  {org.clojure/clojure              {:mvn/version "1.12.3"}
         io.pedestal/pedestal.log         {:mvn/version "0.8.1"}
         io.pedestal/pedestal.telemetry   {:mvn/version "0.8.1"}
         io.pedestal/pedestal.interceptor {:mvn/version "0.8.1"}
         io.pedestal/pedestal.route       {:mvn/version "0.8.1"}

         org.clojure/core.async           {:mvn/version "1.8.741"}

         ;; Ring 1.11 is the first version to support Servlet API 4.0
         ring/ring-core                   {:mvn/version "1.15.3"}
         com.cnuernber/charred            {:mvn/version "1.037"}
         org.clojure/tools.reader         {:mvn/version "1.5.2"}
         com.cognitect/transit-clj        {:mvn/version "1.0.333"}
         commons-codec/commons-codec      {:mvn/version "1.19.0"}
         crypto-random/crypto-random      {:mvn/version "1.2.1"
                                           :exclusions  [commons-code/commons-codec]}
         crypto-equality/crypto-equality  {:mvn/version "1.0.1"}}

 :aliases
 {:local
  {:override-deps {io.pedestal/pedestal.log         {:local/root "../log"}
                   io.pedestal/pedestal.common      {:local/root "../common"}
                   io.pedestal/pedestal.telemetry   {:local/root "../telemetry"}
                   io.pedestal/pedestal.interceptor {:local/root "../interceptor"}
                   io.pedestal/pedestal.route       {:local/root "../route"}}}}}
