{:paths ["src" "resources"]
 :deps
 {io.pedestal/pedestal.servlet {:mvn/version "0.8.0-beta-3"}
  org.eclipse.jetty.ee10.websocket/jetty-ee10-websocket-jakarta-server
  {:mvn/version "12.0.21"}                                  ; <1>
  org.slf4j/slf4j-simple       {:mvn/version "2.0.17"}}
 :aliases
 {:build                                                    ; <2>
  {:ns-default build
   :paths      ["build"]
   :deps       {io.github.clojure/tools.build {:mvn/version "0.10.9"}
                babashka/fs                   {:mvn/version "0.5.25"}}}}}
