/* begin Clojure data formatter */

.keyword {
   color: purple;
}

.symbol {
   color: blue;
}

.string {
   color: darkgreen;
}

.node-section {
    margin-left: 40px;
}

/* end Clojure data formatter */

/* begin customize bootstrap */

.nav > li.disabled {
  .opacity(40);
  pointer-events: none;
}
.nav > li.disabled a {
  color: #ddd;
}
.nav > li.disabled > a:hover {
  cursor: default;
  text-decoration: none;
  background-color: inherit;
}

div.hero-unit p.small {
  font-size:14px;
  line-height:18px
}

/* end customize bootstrap */

/* start pedestal toolbar */

#pedestal-toolbar {
  background-color: rgba(255,255,255,1);
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 20px;
  padding-right: 50px;
  box-shadow: inset 1px 1px 1px #666;
  border-radius: 5px;
  border-image: initial;
  font-size: 10pt;
}

#pedestal-status-panel {
  background-color: rgba(255,255,255,1);
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 15px;
  padding-right: 25px;
  box-shadow: inset 1px 1px 1px #666;
  border-radius: 5px;
  border-image: initial;
  font-size: 10pt;
}

#pedestal-status-panel.pedestal-recording-status {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.pedestal-recording-status-message {
  font-size: 12px;
  color: #777;
}

#pedestal-toolbar a {
  display: block;
}

/* end pedestal toolbar */
