; Copyright 2022 Cognitect, Inc.

; The use and distribution terms for this software are covered by the
; Eclipse Public License 1.0 (http://opensource.org/licenses/eclipse-1.0)
; which can be found in the file epl-v10.html at the root of this distribution.
;
; By using this software in any fashion, you are agreeing to be bound by
; the terms of this license.
;
; You must not remove this notice, or any other, from this software.

{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.pedestal/pedestal.log {:mvn/version "0.6.0"}
        io.pedestal/pedestal.interceptor {:mvn/version "0.6.0"}

        javax.servlet/javax.servlet-api {:mvn/version "3.1.0"}
        com.amazonaws/aws-java-sdk-core {:mvn/version "1.12.565"}
        com.amazonaws/aws-lambda-java-core {:mvn/version "1.2.3"}
        com.amazonaws/aws-xray-recorder-sdk-core {:mvn/version "2.14.0"}
        com.amazonaws/aws-java-sdk-xray {:mvn/version "1.12.564"}

        ;; Bring AWS libs inline with Pedestal Service
        ;; NOTE: CVE-2023-35116 (which is disputed), no more recent version is available
        com.fasterxml.jackson.core/jackson-core {:mvn/version "2.15.2"}
        com.fasterxml.jackson.dataformat/jackson-dataformat-cbor {:mvn/version "2.15.2"}
        commons-codec/commons-codec {:mvn/version "1.16.0"}
        joda-time/joda-time {:mvn/version "2.12.5"}}

 :aliases
 {:local
  {:override-deps {io.pedestal/pedestal.log {:local/root "/Users/howard.lewisship/workspaces/github/pedestal/log"}
                   io.pedestal/pedestal.interceptor {:local/root "/Users/howard.lewisship/workspaces/github/pedestal/interceptor"}}}}}
