{:paths ["src"]
 :deps  {;com.amazonaws.serverless/aws-serverless-java-container-core {:mvn/version"0.5.1" :exclusions [[com.fasterxml.jackson.core/jackson-databind]]}
         javax.servlet/javax.servlet-api                                 {:mvn/version "3.1.0"}
         com.amazonaws/aws-java-sdk-core                                 {:mvn/version "1.11.331"
                                                                          :exclusions  [commons-logging]} ;; Needed for x-ray
         com.amazonaws/aws-lambda-java-core                              {:mvn/version "1.2.0"}

         ; com.amazonaws/aws-lambda-java-events {:mvn/version "1.3.0"}
         com.amazonaws/aws-xray-recorder-sdk-core                 {:mvn/version "1.3.1"
                                                                   :exclusions  [com.amazonaws/aws-java-sdk-core
                                                                                 commons-logging
                                                                                 joda-time]}
         ;; Deps cleanup
         commons-logging                                          {:mvn/version "1.2"}   ;; A clash between AWS and HTTP Libs
         com.fasterxml.jackson.core/jackson-core                  {:mvn/version "2.9.0"} ;; Bring AWS libs inline with Pedestal Service
         com.fasterxml.jackson.dataformat/jackson-dataformat-cbor {:mvn/version "2.9.0"} ;; Bring AWS libs inline with Pedestal Service
         commons-codec                                            {:mvn/version "1.11"}  ;; Bring AWS libs inline with Pedestal Service
         joda-time                                                {:mvn/version "2.8.2"} ;; Bring AWS libs inline with Pedestal Service
         }
 :aliases {:release {:extra-deps {io.pedestal/pedestal.interceptor {:mvn/version "0.5.5-SNAPSHOT"}
                                  io.pedestal/pedestal.log         {:mvn/version "0.5.5-SNAPSHOT"}}}
           :dev     {:extra-deps {io.pedestal/pedestal.interceptor {:local/root "../interceptor"}
                                  io.pedestal/pedestal.log         {:local/root "../log"}}}}}
