<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Test Application</title>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!-- Le styles -->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/pedestal.css" rel="stylesheet">
    <link href="/pedestal-quiz.css" rel="stylesheet">
    
    <!-- Add xpath support to IE. Domina needs this -->
    <!--[if IE]>
        <script type="text/javascript" src="xpath.js"></script>
        <![endif]-->

  </head>

  <body>

    <div class="dev-layout">
    <h3>Application in development aspect</h3>

      <div id="content"></div>

      <div id="options"></div>

      <footer></footer>

    </div>

    <script id="script-driver"></script>

  </body>
</html>
