{:paths ["src"]                                                       ;; <1>
 :deps  {io.pedestal/pedestal.http-kit {:mvn/version "0.8.0-alpha-5"} ;; <2>
         org.slf4j/slf4j-simple        {:mvn/version "2.0.17"}}}
