; Copyright 2024 Nubank NA
; Copyright 2022 Cognitect, Inc.

; The use and distribution terms for this software are covered by the
; Eclipse Public License 1.0 (http://opensource.org/licenses/eclipse-1.0)
; which can be found in the file epl-v10.html at the root of this distribution.
;
; By using this software in any fashion, you are agreeing to be bound by
; the terms of this license.
;
; You must not remove this notice, or any other, from this software.

{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.2"}
        io.pedestal/pedestal.log {:mvn/version "0.7.0"}
        io.pedestal/pedestal.service {:mvn/version "0.7.0"}
        org.eclipse.jetty/jetty-server {:mvn/version "12.0.12"}
        org.eclipse.jetty/jetty-alpn-server {:mvn/version "12.0.12"}
        org.eclipse.jetty.ee10/jetty-ee10-servlet {:mvn/version "12.0.12"}
        org.eclipse.jetty.http2/jetty-http2-server {:mvn/version "12.0.12"}
        ;; These dependencies are necessary to run Jetty embedded, but need to be excluded
        ;; if packaging as a WAR for deployment to a standalone Jetty instance.
        org.eclipse.jetty.toolchain/jetty-jakarta-websocket-api {:mvn/version "2.0.0"}
        org.eclipse.jetty.ee10.websocket/jetty-ee10-websocket-jakarta-server {:mvn/version "12.0.12"}}

 :aliases
 {:local
  {:override-deps {io.pedestal/pedestal.log {:local/root "../log"}
                   io.pedestal/pedestal.service {:local/root "../service"}
                   ;; Recapitulate transitive dependencies of pedestal.service since the
                   ;; :local alias isn't carried through when resolving the local dependencies.
                   io.pedestal/pedestal.interceptor {:local/root "../interceptor"}
                   io.pedestal/pedestal.route {:local/root "../route"}
                   io.pedestal/pedestal.telemetry {:local/root "../telemetry"}
                   io.pedestal/pedestal.common {:local/root "../common"}}}}}
