(ns dev
  (:require [io.pedestal.connector :as conn]
            [io.pedestal.http.http-kit :as hk]
            [{{top/ns}}.{{main/ns}}.service :as service]))

(defonce connector nil)

(defn init
  "Constructs the current Pedestal development connector."
  []
  (alter-var-root #'connector
    (fn [_]
        (-> (service/connector-map nil)
            (hk/create-connector nil))))

(defn start!
  "Starts the current development connector."
  []
  (alter-var-root #'connector conn/start!))

(defn stop!
  "Shuts down the current development connector."
  []
  (alter-var-root #'connector
    (fn [connector]
      (when connector
        (conn/stop! connector))
        nil)))

(defn go!
  "Initializes the current development connector and starts it running."
  []
  (init)
  (start!))

(comment
  ;; For REPL development, this can be evaluated:

  (go!)
  (start!)
  (stop!)

  ;;
)

