name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'corretto'
      - name: Setup Clojure
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: 1.12.1.1550

      - name: Cache Clojure dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.deps.clj
          # List all files containing dependencies:
          key: cljdeps-${{ hashFiles('deps.edn', '**/deps.edn') }}

      - name: Clojure Version
        run: |
          clojure -version
          clojure -M -e '*clojure-version*'
      - name: Local Install
        run: clojure -T:build install
      - name: Compile servlet module
        working-directory: servlet
        run: clojure -T:build compile-java :aliases '[:local :servlet-api]'
      - name: Execute tests (Clojure 1.12)
        working-directory: tests
        run: clojure -X:test:1.12
      - name: Execute tests (Clojure 1.11)
        working-directory: tests
        run: clojure -X:test:1.11
      - name: Lint with clj-kondo
        run: clojure -T:build lint
      - name: Collect Code Coverage
        working-directory: tests
        run: clojure -M:coverage
      - name: CVE Vulnerabilities Check
        id: cve-check
        run: clojure -T:build cve-check
      - name: Upload cve-check-results.html
        if: ${{ !cancelled() && steps.cve-check.conclusion }}
        uses: actions/upload-artifact@v4.6.2
        with:
          name: cve-check-results.html
          path: target/nvd/dependency-check-report.html
